In [31]:
import pandas as pd
import numpy as np
dataset=pd.read_csv("imdb1.csv",encoding= 'unicode_escape')
print(dataset.head())

                                              review  class
0  Not sure who was more lost - the flat characte...      0
1  Attempting artiness with black & white and cle...      0
2       Very little music or anything to speak of.        0
3  The best scene in the movie was when Gerardo i...      1
4  The rest of the movie lacks art, charm, meanin...      0

In [32]:
dataset.columns

Index(['review', 'class'], dtype='object')

In [38]:
dataset.shape

(999, 2)

In [39]:
dataset.ndim

2

In [40]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 999 entries, 0 to 998
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   review  999 non-null    object
 1   class   999 non-null    int64
dtypes: int64(1), object(1)
memory usage: 15.7+ KB

In [42]:
dataset["review"]=dataset["review"].str.lower()

In [43]:
dataset.head()

                                              review  class
0  not sure who was more lost - the flat characte...      0
1  attempting artiness with black & white and cle...      0
2       very little music or anything to speak of.        0
3  the best scene in the movie was when gerardo i...      1
4  the rest of the movie lacks art, charm, meanin...      0

In [44]:
import re

In [46]:
for i in range(len(dataset["review"])):
    dataset["review"][i]=re.sub('\W',' ',dataset["review"][i])
    dataset["review"][i]=re.sub('\d+','',dataset["review"][i])
    dataset["review"][i]=re.sub('\s+',' ',dataset["review"][i])
    dataset["review"][i]=re.sub('\s+$','',dataset["review"][i])
    dataset["review"][i]=re.sub('^\s+','',dataset["review"][i])

<ipython-input-46-612cff56bfb6>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset["review"][i]=re.sub('\W',' ',dataset["review"][i])
<ipython-input-46-612cff56bfb6>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset["review"][i]=re.sub('\d+','',dataset["review"][i])
<ipython-input-46-612cff56bfb6>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset["review"][i]=re.sub('\s+',' ',dataset["review"][i])
<ipython-input-46-612cff56bfb6>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset["review"][i]=re.sub('\s+$','',dataset["review"][i])
<ipython-input-46-612cff56bfb6>:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset["review"][i]=re.sub('^\s+','',dataset["review"][i])

In [47]:
print(dataset.head(20))

                                               review  class
0   not sure who was more lost the flat characters...      0
1   attempting artiness with black white and cleve...      0
2           very little music or anything to speak of      0
3   the best scene in the movie was when gerardo i...      1
4   the rest of the movie lacks art charm meaning ...      0
5                                    wasted two hours      0
6   saw the movie today and thought it was a good ...      1
7                                   a bit predictable      0
8   loved the casting of jimmy buffet as the scien...      1
9                   and those baby owls were adorable      1
10  the movie showed a lot of florida at it s best...      1
11  the songs were the best and the muppets were s...      1
12                                     it was so cool      1
13  this is a very right on case movie that delive...      1
14  it had some average acting from the main perso...      0
15  this review is long overdue since i consider a...      1
16  i ll put this gem up against any movie in term...      1
17  it s practically perfect in all of them a true...      1
18  the structure of this film is easily the most ...      1
19  i can think of no other film where something v...      1

In [48]:
for i in range(len(dataset["review"])):
    dataset["review"][i]=dataset["review"][i].split(" ")

<ipython-input-48-c08f5f64464f>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataset["review"][i]=dataset["review"][i].split(" ")

In [49]:
dataset.head(20)

                                               review  class
0   [not, sure, who, was, more, lost, the, flat, c...      0
1   [attempting, artiness, with, black, white, and...      0
2   [very, little, music, or, anything, to, speak,...      0
3   [the, best, scene, in, the, movie, was, when, ...      1
4   [the, rest, of, the, movie, lacks, art, charm,...      0
5                                [wasted, two, hours]      0
6   [saw, the, movie, today, and, thought, it, was...      1
7                               [a, bit, predictable]      0
8   [loved, the, casting, of, jimmy, buffet, as, t...      1
9            [and, those, baby, owls, were, adorable]      1
10  [the, movie, showed, a, lot, of, florida, at, ...      1
11  [the, songs, were, the, best, and, the, muppet...      1
12                                [it, was, so, cool]      1
13  [this, is, a, very, right, on, case, movie, th...      1
14  [it, had, some, average, acting, from, the, ma...      0
15  [this, review, is, long, overdue, since, i, co...      1
16  [i, ll, put, this, gem, up, against, any, movi...      1
17  [it, s, practically, perfect, in, all, of, the...      1
18  [the, structure, of, this, film, is, easily, t...      1
19  [i, can, think, of, no, other, film, where, so...      1

In [50]:
import nltk
from nltk import SnowballStemmer
snowball=SnowballStemmer(language='english')

In [52]:
for i in range(len(dataset["review"])):
    for j in range(len(dataset["review"][i])):
        dataset["review"][i][j]=snowball.stem(dataset["review"][i][j])

In [53]:
dataset.head(10)

                                              review  class
0  [not, sure, who, was, more, lost, the, flat, c...      0
1  [attempt, arti, with, black, white, and, cleve...      0
2     [veri, littl, music, or, anyth, to, speak, of]      0
3  [the, best, scene, in, the, movi, was, when, g...      1
4  [the, rest, of, the, movi, lack, art, charm, m...      0
5                                  [wast, two, hour]      0
6  [saw, the, movi, today, and, thought, it, was,...      1
7                                  [a, bit, predict]      0
8  [love, the, cast, of, jimmi, buffet, as, the, ...      1
9                [and, those, babi, owl, were, ador]      1

In [54]:
import sklearn
from sklearn.model_selection import train_test_split

In [88]:
train,test=train_test_split(dataset,test_size=0.3)
spam=train[dataset["class"]==0]
notspam=train[dataset["class"]==1]

<ipython-input-88-a53c3380fba8>:2: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  spam=train[dataset["class"]==0]
<ipython-input-88-a53c3380fba8>:3: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  notspam=train[dataset["class"]==1]

In [89]:
spam.head()

                                                review  class
585  [is, it, possibl, for, a, movi, to, get, ani, ...      0
176                   [the, stori, is, beyond, stupid]      0
854  [wors, there, s, an, incred, weak, sub, plot, ...      0
288  [even, billi, bob, couldn, t, rise, abov, the,...      0
132               [all, in, all, a, great, disappoint]      0

In [90]:
notspam.head()

                                                review  class
978  [it, is, a, veri, well, act, and, done, tv, movi]      1
388  [what, make, this, stori, differ, are, the, te...      1
3    [the, best, scene, in, the, movi, was, when, g...      1
445  [i, like, armand, assant, my, cabl, compani, s...      1
614                                      [veri, funni]      1

In [91]:
sd={}
for i in spam["review"]:
    for j in i:
        if j in sd.keys():
            sd[j]+=1
        else:
            sd[j]=1

nsd={}
for i in notspam["review"]:
    for j in i:
        if j in nsd.keys():
            nsd[j]+=1
        else:
            nsd[j]=1

X=[]   
for i in dataset["review"]:
    p=0
    q=0
    for j in i:
        if j in sd.keys():
            p+=sd[j]
        if j in nsd.keys():
            q+=nsd[j]
    X.append([1,p,q])

In [92]:
from sklearn.linear_model import LogisticRegression
logistic=LogisticRegression()

In [93]:
X=np.array(X)
y=dataset["class"].values
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size = 0.3,random_state =1)
logistic.fit(X_train,y_train)

LogisticRegression()

In [94]:
y_pred=logistic.predict(X_test)

In [95]:
dataset1=pd.DataFrame({"actual":y_test,"prediction":y_pred})
dataset1

     actual  prediction
0         0           1
1         0           1
2         0           0
3         0           0
4         1           1
..      ...         ...
295       0           0
296       0           0
297       1           1
298       0           0
299       0           0

[300 rows x 2 columns]

In [96]:
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score

In [97]:
print(confusion_matrix(y_test,y_pred))
print(accuracy_score(y_pred,y_test)*100)

[[121  30]
 [ 45 104]]
75.0

In [108]:
review=input("Entre Your Review")
review=review.split(" ")
print(review)

Entre Your Revieweverything about this movie is superb
['everything', 'about', 'this', 'movie', 'is', 'superb']

In [109]:
for i in range(len(review)):
    review[i]=snowball.stem(review[i])
review
r=[]
for i in review:
    p=0
    q=0
    if i in sd.keys():
        p=p+sd[i]
    if i in nsd.keys():
        q=q+nsd[i]
r.append([1,p,q])
r=np.array(r)
p=logistic.predict(r)
if p==0:
    print("Spam")
else:
    print("not spam")

not spam